*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --darkRed: #303030;
  --lightPink: #a0a0a0;
}

/* ======================================================= FONT ======================================================= */

.iceland-regular {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}


/* ======================================================= BODY ======================================================= */

body {
  position: relative;
  margin: 0;
}



/* ======================================================= Générale ======================================================= */

hr {
  width: 85%;
  margin-top: 70px;
  margin-bottom: 70px;
  border-color: var(--darkRed);
}

.pp {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}


/* ======================================================= Header ======================================================= */

.composant-header {
  font-family: "Iceland", sans-serif, Impact;
  background-color: var(--lightPink);
  color: var(--darkRed);
  width: 100%;
  position: relative;
  padding: 0 50px;
}

.composant-header img {
  margin-top: 20px;
  width: 300px;
}

.composant-header nav {
  display: flex;
  align-items: center;
}

.composant-header ul {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.3rem;
}

.composant-header a {
  text-decoration: none;
  margin-right: auto;
  color: var(--darkRed);
}

.composant-header a:hover {
  text-decoration: underline;
}

.composant-header li {
  list-style-type: none;
}

/* ======================================================= Accueil ======================================================= */

h1{
  text-align: center;
}

.liste-billet{
  display: flex;
  flex-direction: row;
}



/* ======================================================= Carte Billet ======================================================= */

.billet {
  width: 60%;
  max-width: 750px;
  border: solid var(--darkRed) 1px;
  margin:  50px auto ;
  padding: 20px;
  border-radius: 15px;
}

.billet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* ======================================================= Commentaire ======================================================= */

.liste-com {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  border: solid var(--darkRed) 1px;
  margin: 20px;
  margin-left: 2%;
  padding: 20px;
  border-radius: 15px;
  width: 60%;
}

.top-part-com {
  display: flex;
  gap: 10px;
}

.admin-button-com {
  margin-left: auto;
}

.content-com p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ======================================================= Form ======================================================= */

form{
  margin: 20px auto;
}


/* ======================================================= Bouton style ======================================================= */

.button-style,
button {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: var(--darkRed);
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px #000000b0;
  transition: ease 0.5s;
  z-index: 2;
}

.small-button {
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 5px 10px;
  width: 150px;
}

.centerElem {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.button-style:hover,
.small-button:hover,
button:hover {
  color: var(--darkRed);
  text-align: center;
  background-color: var(--lightPink);
  transition: ease 0.5s;
  transform: scale(1.05);
}

/* ======================================================= A11y ======================================================= */

.skip-link {
  color: var(--darkRed);
  padding: 0.625em 0.9375em;
  text-decoration: none;
  margin-left: 170px;
  margin-top: 35px;
  font-size: 1.1rem;
}

.skip-link:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link:focus {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}